<section class="main">
    <div class="product">
        <div class="product-top row">
            <p>Trang Chủ</p> <span>/</span><p>{{product.category}}</p><span>/</span><p>{{product.name}}</p>
        </div>
        <div class="product-content row">
            <div class="product-content-left row">
                <div class="product-content-left-big-img">
                    <img [src]="'assets/' + post.pid + '.webp'" alt="">
                </div>

            </div>
            <div class="product-content-right">
                <div class="product-content-right-product-name">
                    <h1>{{product.name}}</h1>
                </div>
                <div class="product-content-right-product-price">
                    <p>{{product.price.toLocaleString()}}</p>
                </div>
                <div class="product-content-right-product-button">
                    <button><p>THÊM VÀO GIỎ HÀNG</p></button>
                    <input type="number" min="1" value="1">
                    <button (click)="changeWish($event)"><i class="fa-solid fa-heart"></i></button>
                </div>
                <div class="product-content-right-bottom">
                    <div class="product-content-right-bottom-header">
                        <div class="product-content-right-bottom-header-item active">
                            <p>Mô Tả</p>
                        </div>
                        <div class="product-content-right-bottom-header-item">
                            <p>Chăm Sóc</p>
                        </div>
                        <div class="product-content-right-bottom-header-item">
                            <p>Thông tin chi tiết</p>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="product-content-right-bottom-body">
                        <div class="product-content-right-bottom-content active" id="post-content"></div>
                        <div class="product-content-right-bottom-content">
                            <h4>HƯỚNG DẪN GIẶT</h4>
                            <ul>
                                <li>
                                    <img src="https://www.adidas.com.vn/glass/react/1b98ad9/assets/img/washing-instructions/B1.svg" alt="">
                                    <p>Do not bleach</p>
                                </li>
                                <li>
                                    <img src="https://www.adidas.com.vn/glass/react/1b98ad9/assets/img/washing-instructions/C1.svg" alt="">
                                    <p>Do not tumble dry</p>
                                </li>
                                <li>
                                    <img src="https://www.adidas.com.vn/glass/react/1b98ad9/assets/img/washing-instructions/E1.svg" alt="">
                                    <p>Do not iron</p>
                                </li>
                                <li>
                                    <img src="https://www.adidas.com.vn/glass/react/1b98ad9/assets/img/washing-instructions/D1.svg" alt="">
                                    <p>Do not bleach</p>
                                </li>
                                <li>
                                    <img src="https://www.adidas.com.vn/glass/react/1b98ad9/assets/img/washing-instructions/A1.svg" alt="">
                                    <p>Do not wash</p>
                                </li>
                            </ul>
                        </div>
                        <div class="product-content-right-bottom-content" id="post-description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-ratings">
        <div class="product-ratings__header">
            <span>ĐÁNH GIÁ SẢN PHẨM</span>
        </div>
        <div class="product-ratings__overview">

        </div>
        <div class="product-ratings__list">
            <div class="product-ratings-comment-list">
                <div class="product-rating" *ngFor="let review of reviews">
                    <div class="product-rating__main">
                        <a href="" class="product-rating__author-name" style="font-size: 16px; font-weight: 600">{{review.name}}</a>
                        <div class="product-rating__author-name">
                            <div class="product-rating__rating">
                                <svg *ngFor="let rate of [].constructor(review.title)" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="svg-icon icon-rating-solid--active icon-rating-solid"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
                            </div>
                        </div>
                        <div class="_280jKz">
                            <p>{{review.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-ratings__cmt">
            <textarea placeholder="Write a comment here..."></textarea>
            <button>Send</button>
        </div>
    </div>
    <div class="recommendation-by-carousel">
        <div>
            <div class="header-section">
                <div class="widget-title">
                    <h3 class="box-title">
                        <span class="title">Các sản phẩm khác của {{product.brand}}</span>
                    </h3>
                </div>
            </div>
            <div class="list-products">
                <div *ngFor="let extraproduct of productList">
                    <div class="item-viewed-product" *ngIf="extraproduct.pid != product.pid" [routerLink]="['/product', product.pid]">
                        <div class="product-img">
                            <img [src]="'assets/' + extraproduct.pid + '.webp'" alt="">
                        </div>
                        <div class="product-content">
                            <p>{{extraproduct.name}}</p>
                        </div>
                        <p class="price">{{extraproduct.price}}₫</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>