*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 400;
    text-align: left;
    cursor: auto;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}
ul li{
    display: inline-block;
}
img{
    max-width: 100%;
}
#post-content h3{
    font-size: 12px;
    margin-top: 5px ;
}
.row{
    display: flex;
}
.header{
    background-color: #495057;
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
}
.main{
    padding: 0 100px;
}
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p {
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img {
    width: 100%;
    margin-bottom: 5px;
}
.product-content-right{
    width: 50%;
    padding-left: 60px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.product-content-right-product-color-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f7afc6;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 6px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    cursor: pointer;
    width: 65px;
    height: 35px;
    text-align: center;
}
.size span:hover{
    background-color: black;
    color: #ffffff;
}
.product-content-right-product-button{
    height: 40px;
    display: flex;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    cursor: pointer;
    width: 200px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 5px 5px 0 0 white, 4px 6px 7px 0 black;
    margin-right: 20px;
}
.product-content-right-product-button input{
    border: 1px solid black;
    width: 75px;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
}
.product-content-right-product-button button:first-child:hover{
    color: #495057;
}
.product-content-right-product-button button:last-child{
    cursor: pointer;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    background-color: transparent;
    font-size: 25px;
    /*border: 1px solid black;*/
}
.product-content-right-product-button button:last-child:hover{
    color: darkred;
}
.product-content-right-product-button button.selected{
    color: darkred;
}
.product-content-right-bottom{
    padding-top: 60px;
    position: relative;
}
.product-content-right-bottom-header{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.product-content-right-bottom-header .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: #090506;
    transition: all 0.2s ease;
}
.product-content-right-bottom-header-item{
    padding: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    opacity: 0.6;
}
.product-content-right-bottom-header-item.active{
    opacity: 1;
}
.product-content-right-bottom-body{
    padding-top: 15px;
}
.product-content-right-bottom-content{
    display: none;
}
.product-content-right-bottom-content.active {
    display: block;
}
.product-content-right-bottom-content h4{
    word-spacing: 1px;
    padding-bottom: 30px;
}
.product-content-right-bottom-content p{
    word-spacing: 1px;
    line-height: 1.4;
}
.product-content-right-bottom-content ul li{
    display: flex;
    word-spacing: 1px;
    margin:5px 0;
}
.product-content-right-bottom-content ul li img{
    width: 30px;
    height: 30px;
}
.product-ratings {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    background: #f0e8e8;
    margin-top: 0.9375rem;
    padding: 1.5625rem;
    overflow: visible;
    margin-bottom: 50px;
}
.product-ratings__header {
    font-size: 1.125rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1em;
    text-transform: capitalize;
}
.product-rating:first-child {
    padding-top: 0;
}
.product-rating {
    border-bottom: 1px solid rgba(0,0,0,.09);
    display: flex;
    padding: 1rem 0 1rem 1.25rem;
}
.product-rating__avatar {
    width: 2.5rem;
    margin-right: 0.625rem;
    text-align: center;
}

element.style {
}
.product-rating__avatar .avatar {
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
}
.avatar__img {
    border-radius: 50%;
}
.avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.avatar__img, .avatar__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.product-rating__main {
    flex: 1;
}
.product-rating__author-name {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: .75rem;
}
.product-rating__rating {
    margin-top: 0.375rem;
}
.theme--ofs .product-rating__rating .icon-rating-solid {
    color: #d0011b;
}
.product-rating__rating .icon-rating-solid {
    margin-right: 0.125rem;
    color: #ee4d2d;
}
.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
._280jKz {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0.9375rem 0;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0,0,0,.87);
    word-break: break-word;
    white-space: pre-wrap;
}
.product-ratings__cmt{
    margin-top: 20px;
    position: relative;
}
.product-ratings__cmt textarea{
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 150px;
    margin-bottom: 10px;
}
.product-ratings__cmt button{
    padding: 10px 20px;
    background-color: black;
    color: #FFFFFF;

}
.recommendation-by-carousel{
    margin: 100px 0px;
}
.header-section {
    margin: 20px 0px;
}
.widget-title{
    margin-bottom: 45px;
    text-align: center;
    padding-top: 15px;
}
.widget-title .box-title {
    color: #232323;
    position: relative;
    font-size: 20px;
    letter-spacing: .05em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.widget-title .box-title:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #e0e0e0;
    top: -moz-calc(50% - .5px);
    top: -webkit-calc(50% - 0.5px);
    top: -ms-calc(50% - .5px);
    top: calc(50% - 0.5px);
    left: 0;
    right: 0;
    width: 100%;
}
.widget-title .box-title .title {
    padding: 0 24px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.list-products{
    display: flex;
    padding-bottom: 50px;
}
.item-viewed-product {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-right: 7px;
    width: 20%;
}
.item-viewed-product:hover{
    border: 1px solid;
}

.product-img img{
    max-width: 100%;
    max-height: 75%;
}
.price{
    color: #FFFFFF;
    background-color: #3333336e;
    padding: 2px;
    position: absolute;
    bottom:230px;
}