#footer-wrapper{
    background-color: white;
    padding: 20px 15px;
    border-top:1px solid #3333336e ;
    box-shadow: 4px 5px 5px 12px white, 9px 0px 1px 9px black;
}
#footer-container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#footer-container ul{
    margin: 0;
    list-style: none;
}
#footer-container li{
    padding: 5px 0;
}
#footer-container ul li:first-child{
    font-weight: 600;
    font-size: 16px;
}