<div id="footer-wrapper">
    <div id="footer-container">
            <ul>
                <li><img src="./assets/logo.png" alt="logo"/></li>
                <li>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    Số 8 Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội
                </li>
                <li>
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                    (+84) 0123 456 789
                </li>
                <li>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    inthatcase@email.com
                </li>
                <li>
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                    Open Time: 9:00 AM - 5:00 PM
                </li>
            </ul>
            <ul>
                <li>OUR SHOPS</li>
                <li>About Us</li>
                <li>Product Support</li>
                <li>Services</li>
                <li>Conditions</li>
                <li>Privacy Policy</li>
            </ul>
            <ul>
                <li>Social</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Tiktok</li>
            </ul>
            <ul>
                <li>CATEGORIES</li>
                <li>Suitcase</li>
                <li>Packbag</li>
                <li>Accessories</li>
            </ul>
    </div>
</div>