<div id="header-wrapper">
    <div class="row" id="header-container">
        <div class="col-md-2" id="logo-container">
            <a routerLink="/"><img src="../../../assets/logo.png" alt="logo" style="width: 100px"/></a>
        </div>
        <div class="col-md-7 search-box" id="header-search-box">
            <input type="text" placeholder="Search..." style="flex: 1"/>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div class="col-md-3" style="display: flex; align-items: center">
            <ul>
                <li>
                    <a routerLink="/cart">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        Shopping Cart
                    </a>
                </li>
                <li>
                    <a routerLink="/login">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>