
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 400;
    text-align: left;
    cursor: auto;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}
ul li{
    display: inline-block;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none ;
    color: #333333 ;
}
a:hover{
    color: #3333336e ;
}
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 20;
    justify-content: space-between;
    padding: 12px 50px;
    align-items: center;
    box-shadow: 0 0 17px 0 #333;
}
.sub-menu{
    display: none;
}
.main-menu{
    display: flex;
}
.main-menu .menu >li{
    padding: 15px 0;
    margin-right:10px ;
}

.header-right{
    display: flex;
}
.header-actions{
    display: flex;
    padding-top: 10px;
}
.item.wallet{
    margin-left: 5px;
    margin-right: 10px;
}
.item.item-cart{
    margin-right: 30px;
    position: relative;
}
.number-cart {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    background: #221F20;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -32px;
    font-family: 'Montserrat';
}
.item-cart .number-cart {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    right: -8px;
    top: -10px;
}