#categories{
    border: 1px solid lavender;
    margin: 5px;
    border-radius: 10px;
    background: #337ab7;
    color: white;
}
#categories ul{
    list-style: none;
    padding-left: 15px;
}
#categories li:hover{
    cursor: pointer;
}