<div id="categories">
    <ul>
        <li>
            Luggage
            <ul>
                <li>
                    Type
                    <ul>
                        <li>All</li>
                        <li>Carry-on</li>
                        <li>Checkin</li>
                        <li>Trunk</li>
                        <li>Set</li>
                        <li>Garment</li>
                    </ul>
                </li>
                <li>
                    Feature
                    <ul>
                        <li>All</li>
                        <li>Softside</li>
                        <li>Hardside</li>
                        <li>Rolling</li>
                        <li>Spinner</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Bags & Backpacks
            <ul>
                <li>All</li>
                <li>
                    Travel Bags
                    <ul>
                        <li>Handbags</li>
                        <li>Boarding Bags</li>
                        <li>Duffel Bags</li>
                        <li>Garment Bags</li>
                    </ul>
                </li>
                <li>School</li>
                <li>Laptop</li>
                <li>Children</li>
                <li>Hiking</li>
            </ul>
        </li>
        <li>
            Accessories
            <ul>
                <li>All</li>
                <li>Travel</li>
                <li>Fashion</li>
                <li>Tech</li>
                <li>Wallets</li>
            </ul>
        </li>

    </ul>
</div>